/*@import url("http://fonts.cdnfonts.com/css/product-sans-infanity");*/

@font-face {
    font-family: 'Product Sans Infanity';
    font-style: normal;
    font-weight: 400;
    src: local('Product Sans Infanity'), url('../vendor/font/ProductSansInfanity.woff') format('woff');
}

/*START: VARIABLES*/
:root {
    --primary_color: #0099FA;
    --secondary_color: #005CB4;
    --primary-light-color: #47B9FF;
    --black_color: #111;
    --white_color: #EEE;
}
/*END: VARIABLES*/

/*START: FONT*/
html, body {
    font-family: "Product Sans Infanity", sans-serif!important;
    /*background: black;*/
}

/*END: FONT*/

/*START: BACKGROUNDS*/
.bg_primary {
    background: var(--primary_color);
}

.bg_secondary {
    background: var(--secondary_color);
}

.bg_black {
    background: var(--black_color);
}

.bg_white {
    background: var(--white_color);
}
/*END: BACKGROUNDS*/

/*START: FOREGROUND*/
.text_primary {
    color: var(--primary_color);
}

.text_secondary {
    color: var(--secondary_color);
}

.text_black {
    color: var(--black_color);
}

.text_white {
    color: var(--white_color);
}
/*END: FOREGROUND*/

/*START: SOLID BUTTONS*/
.btn_primary {
    background: var(--primary_color);
    border-color: var(--primary_color);
    color: var(--white_color);
}

.btn_primary:hover {
    border-color: var(--primary_color);
    color: var(--primary_color);
    background: transparent;
}

.btn_secondary {
    background: var(--secondary_color);
    border-color: var(--secondary_color);
    color: var(--white_color);
}

.btn_secondary:hover {
    border-color: var(--secondary_color);
    color: var(--secondary_color);
    background: transparent;
}

.btn_black {
    background: var(--black_color);
    border-color: var(--black_color);
    color: var(--white_color);
}

.btn_black:hover {
    border-color: var(--black_color);
    color: var(--black_color);
    background: transparent;
}
/*END: SOLID BUTTONS*/

/*START: OUTLINED BUTTONS*/
.btn_primary_outline {
    border-color: var(--primary_color);
    color: var(--primary_color);
    background: transparent;
}

.btn_primary_outline:hover {
    border-color: var(--primary_color);
    color: var(--white_color);
    background: var(--primary_color);
}

.btn_secondary_outline {
    border-color: var(--secondary_color);
    color: var(--secondary_color);
    background: transparent;
}

.btn_secondary_outline:hover {
    border-color: var(--secondary_color);
    color: var(--white_color);
    background: var(--secondary_color);
}

.btn_black_outline {
    border-color: var(--black_color);
    color: var(--black_color);
    background: transparent;
}

.btn_black_outline:hover {
    border-color: var(--black_color);
    color: var(--white_color);
    background: var(--black_color);
}
/*END: OUTLINED BUTTONS*/

/*START: OVERRIDE*/
.btn {
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.25s ease-in-out;
}
/*END: OVERRIDE*/

/*START: SINGLE USE*/
.margin-header {
    margin-top: 5.5rem;
}

#hero-image, #about-us-image {
    width: 33vw;
}

#hero-tagline {
    font-size: 3rem;
    transition: all 0.25s ease-in;
}

#ca-logo {
    height: 100%;
    padding: 0;
    margin: 0;
}

.services-list {
    /*list-style: none;*/
    padding: 0;
}

.services-list-item:before {
    content:"\203A";
    margin-right: 1rem;
}

.social-link {
    transform: scale(.75);
}

.whatsapp-btn {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
}

.apply-job {
    margin-right: 2rem!important;
}

.error {
    color: red;
}

/*END: SINGLE USE*/

/*START: MEDIA QUERIES*/



/*END: MEDIA QUERIES*/


















/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    box-shadow: 0 4px 15px rgb(58 112 191 / 25%);
}
/*#header.header-scrolled, #header.header-inner-pages {
    background: rgba(0, 92, 180, 0.8);
}*/
#header .logo {
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1.5px;
}
#header .logo a {
    color: #fff;
}
#header .logo img {
    max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.nav-link-active:after {
    /*border-bottom: solid 1px rgb(255, 255, 159);*/
    /*transition: transform 1s ease-out;*/
    /*transform: scaleX(1);*/
    /*transform-origin: bottom left;*/
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 159);
}
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
}
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .2rem 1rem;
    padding: 0!important;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.nav-link:hover {
    color: white;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 159);
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 159);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .getstarted, .navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    color: #fff;
    background: #31a9e1;
}
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}
.navbar .dropdown ul li {
    min-width: 200px;
}
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}
.navbar .dropdown ul a i {
    font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #47b2e4;
}
.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }

    .hover-underline-animation:after {
        display: none;
    }

    .hover-underline-animation:hover:after {
        transform: none;
    }

    #hero-tagline {
        font-size: 2.4rem;
        margin-top: 2.5rem;
    }

    #hero-image, #about-us-image {
        width: 49vw;
    }

    #owner-image {
        width: 300px;
    }

    #owner-card {
        width: 300px;
    }

    .about-us-image-container {
        display: none;
    }

    .send-us-message-title {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(40, 58, 90, 0.9);
    transition: 0.3s;
    z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}
.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #37517e;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: var(--primary_color);
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
    color: #37517e;
}
.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
    min-width: 200px;
}
.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: var(--primary_color);
}
.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*END OF HEADER*/

/*START OF ACCORDION*/
.accordion-list {
    padding: 1rem;
}
.accordion-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.accordion-list li + li {
    margin-top: 15px;
}
.accordion-list > ul > li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgb(58 112 191 / 9%);
}
.accordion-list a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.accordion-list span {
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
.accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}
.accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}
.accordion-list .icon-show {
    display: none;
}
.accordion-list a.collapsed {
    color: #343a40;
}
.accordion-list a.collapsed:hover {
    color: #47b2e4;
}
.accordion-list a.collapsed .icon-show {
    display: inline-block;
}
.accordion-list a.collapsed .icon-close {
    display: none;
}
@media (max-width: 1024px) {
    .content, .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 992px) {
    .img {
        min-height: 400px;
    }
    .content {
        padding-top: 30px;
    }
    .accordion-list {
        padding-bottom: 30px;
    }
}
/*END OF ACCORDION*/

/*Services of sub list*/
.service-sub-list > li {
    margin-top: .5rem;
    padding: 0 1rem;
}
/*End of service sub list*/


/*Start of tab section*/
.tab-group .tab {
    text-decoration: none;
    border: white;
    background: white;
    border-radius: 5px;
    padding: .5rem .4rem;
    margin: .5rem;
    transition: all .2s ease-in-out;
}

.tab-group .tab:hover {
    color: white;
    background: var(--primary_color);
}

.tab-selected {
    color: white;
    background: var(--primary_color)!important;
}
/*End of tab section*/

/*Start of element section*/
.element-item {
    position: relative;
    transition: all .4s ease-in-out;
}

.element-item img {
    width: 100%;
    height: 18rem;
}

.element-item:hover img{
    opacity: .5;
}
.element-item:hover .element-info{
    opacity: 1;
}
.element-item .element-info {
    padding: 1rem;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    transition: all .2s ease-in-out;
}
/*End of element section*/

.cl-card {
    width: 23rem;
    min-height: 25rem;
    padding: 1rem;
    box-shadow: 1px 13px 15px rgb(58 112 191 / 2%);
    border-radius: 4px;
    border: 1px solid #e8ebf1;
    transition: all ease 0.4s;
}

.cl-card img {
    width: 100%;
    height: 19rem;
}

.cl-card:hover {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}

@media (max-width: 992px) {
    .cl-card {
        width: 100%;
    }
}

/*Start of loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary_color);
    z-index: 9999;
    min-width: 100%;
    min-height: 100vh;
}

.cell .wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 10rem;
    padding-top: 2.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell .wrapper::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.2rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
}

.spinner {
    width: 4rem;
    height: 4rem;
}

.spinner.spinner4 {
    background: var(--white_color);
    -webkit-animation: flip 1.2s ease infinite;
    animation: flip 1.2s ease infinite;
}

@-webkit-keyframes flip {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}
@keyframes flip {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}
/*End of loader*/

/*Landing image*/
.landing-image {
    display: block;
    width: 25rem!important;
    height: 29rem;
}
/*End of landing image*/

/*Office image*/
.office-image {
    width: 23rem;
    height: 25rem;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}
/*End of office image*/
